*{margin:0; padding: 0; box-sizing: border-box;}

div#cincuenta {
	width: 48%;
	margin: 1% 0 1% 1%;
	float: left;
}

div#setentaycinco {
	width:68%; 
	margin-left: 1%;
	float: left;
}

div#treinta {
	width:28%; 
	margin-left: 1%;
	float: left;
}

select {width: 60%}
select#domicilio1 {width: 25%}
p {margin: 1% 0;}

