html{
box-sizing:border-box;
height:100%;
}

*{
box-sizing:inherit;
margin:0px;
padding:0px;
}

body{
padding: 1em;
margin-right:15%;
}

div{
border: 2px solid lightgray;
float:left;
padding: 2.2em;
margin-left: 1em;
margin-top: 1em;
}

#estilo1{list-style-type: disc;}
#estilo2{list-style-type: circle;}
#estilo3{list-style-type: square;}
#estilo4{list-style-type: lower-roman;}
#estilo5{list-style-type: lower-greek;}
#estilo6{list-style-type: upper-latin;}
#estilo7{list-style-type: lower-latin;}
#estilo8{list-style-type: armenian;}
#estilo9{list-style-type: upper-alpha;}
#estilo10{list-style-type: decimal-leading-zero;}
